.container .control-layout:first-child {
  margin-top: 60px;
}
.control-layout {
  width:100%;
}

.control-layout-ncw {
  width: 162px;
}

.control-layout-ita {
  width: 162px;
}

.mobile-layout-mts {
  width: 100%;
}

.card {
  margin-left: 5px;
}

.card-list .card:last-child {
  margin-bottom: 5px;
}

.container .company-layout:first-child {
  margin-top: 20px;
}
label {
  height: 1.6em;
}
.gd_unpanelled, .gd_panelled {
  display: inline-block;
  width: 100%;
}

.gd_unpanelled {
  display: none;
}

.sst_list {
  width: 50px;
  border-radius: 5px;
  background-color: #ffffff;
}
.sys_box {
  width: calc(100vw-20px);
}
.sys_table {
  width: 100%;
}
