
div {
  vertical-align:middle;
}
html{
  font-family: 'Arial', sans-serif;
  display: block;
  position:relative;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
body{
  position:relative;
  margin: 0px;
  min-height: 100vh;
}

.card{
  max-height: 116px;
  min-height: 0px;
  width: 152px;
  margin: 0px 0px 5px 0px;
  display: inline-block;
  vertical-align: top;
}

.card:hover {
  box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.4);
}

.card-details{
  width: 142px;
  display: block;
  padding: 5px;
  max-height: 76px;
  min-height: 0px;
}

.card-button{
  display: block;
  max-height: 30px;
  min-height: 0px;
}

.container{
  margin-bottom: 80px;
    margin-left: 0px;
  display:inline-block;
  padding-left: 10px;
  padding-right: 10px;
    width: 97%;
}

.container:after {
  content: " ";
   display: inline-block;
   height: 0;
   clear: both;
}
.site-footer, .container:after {
  height: 60px;
}
.site-footer {
  background: #3b5999;
  padding: 15px 0px 15px 0px;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  text-align:center;
}

.place_id, .company{
  border-radius: 3px;
}

.student_name{
  font-size: 14px;
  width: 115px;
  height: 16px;
  padding-top: 0px;
  padding-left: 0px;
  color: #222222;
  margin-bottom: 2px;
  display: inline-block;
  text-overflow:clip;
  white-space: nowrap;
  border-radius: 3px;
}

.student_name:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.company{
  width: 94px;
  display: inline-block;
  text-align: center;
  max-height: 40px;
  overflow: hidden;
  padding: 2px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.35);;
  color: #222222;
  min-height: 20px;
}

.company_display {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
    color: #000000;
}

.company_display_status {
    display: inline-block;
    vertical-align: middle;
    font-size: xx-small;
    color: #000000;

}

.place_id{
  width: 35px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  background-color: #34495e;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  padding: 2px;
}

.panel_id {
    width: 35px;
    display: inline-block;
    text-align: center;
    color: #000000;
    background-color: #9CCC65;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    padding: 2px;
}

.place_id:hover {
  background-color: #ffffff;
  color: #34495e;
}

.time_due{
  width: 39px;
  display: inline-block;
  text-align: center;
  font-size: 10px;
  color: #222222;
  padding-bottom: 2px;
  height: 11px;
  margin-top: -5px;
}

.status_level{
  width: 98px;
  display: inline-block;
  text-align: center;
  font-size: 10px;
  color: #222222;
  padding-bottom: 2px;
  height: 11px;
  margin-top: -5px;
}

.queue_level {
    width: 98px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: #082666;
    font-weight: bolder;
    padding-bottom: 2px;
    height: 16px;
    margin-top: 2px;
}

.time_level {
    width: 39px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    color: #222222;
    padding-bottom: 2px;
    height: 11px;
    margin-top: 2px;
}

.card-photo{
  background-color: #ffffff;
  width: 90px;
  height: 100%;
  display: inline-block;
  float: right;
}

.cst_button {
  font-size: 18px;
  height: 30px;
  width: 100%;
  background-color: #bdc3c7;
  border: 0px;
}

nav {
  min-height: 50px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.36), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #3b5999;
  margin-bottom: 10px;
  padding-left: 10px;
  width:100%;
  left: 0;
  top: 0;
  z-index: 1;
}

/*nav:after {
  content: " ";
   display: inline-block;
   height: 0;
   clear: both;
}*/

.row .col.s12 {
  margin-left: auto;
  left: auto;
  right: auto;
}

.breadcrumb {
  font-size: 18px;
  color: #3b5999;
  background: #ffffff;
  margin: 8px 2px 8px 2px;
  padding: 2px 5px 2px 5px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
}

.loginout {
  background-color: #ffffff;
  padding: 2px 7px 2px 7px;
}

.breadcrumb i,
.breadcrumb [class^="mdi-"], .breadcrumb [class*="mdi-"],
.breadcrumb i.material-icons {
  display: inline-block;
  float: left;
  font-size: 24px;
}

.breadcrumb:before {
  color: rgba(255, 255, 255, 0.7);
  vertical-align: top;
  display: inline-block;
  font-size: 25px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}

.breadcrumb:first-child:before {
  display: none;
}

.breadcrumb:last-child {
  color: #3b5999;
  background: #ffffff;
}
.breadcrumb:first-child {
  margin-left: 0px;
}

a.breadcrumb:hover{
  background-color: #193777;
  color: #ffffff;
}

.site-footer{
  display: block;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.36), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
}

.ul_list_index {
  display: block;
  background-color: #efefef;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.36), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
}

.ul_list_index_item {
  display: block;
  min-height: 25px;
  line-height: 25px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: #3b5999;
  color: #ffffff;
  margin: 5px;
  min-width: 120px;
  text-decoration: none;
  text-align: center;
}

.ul_list_index_item:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.36), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
  color: #3b5999;
  background-color: #ffffff;
}


.navbar_dropdown {
  display: inline-block;
  margin: 8px 2px 8px 2px;
  padding: 0px 5px 0px 5px;
  vertical-align: top;

}
.navbar_dropdown form select {
  display: inline-block;
  -webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
  height: 34px;
  padding: 5px;
  font-size: 14px;
  color: #333333;
  border: none;
  vertical-align: top;
}
.navbar_submit {
  display: inline-block;
  font-size: 18px;
  height: 34px;
  background-color: #082666;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
}
.navbar_submit:hover {
  color: #3b5999;
  background-color: #ffffff;
}

.card-list-header {
  font-size: 16px;
  line-height: 30px;
  width: calc(100% - 10px);
  height: 30px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
  background-color: #3b5999;
  color: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
}
.card-list-header-company {
  font-size: 16px;
  line-height: 30px;
  width: calc(100% - 10px);
  height: 30px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
  background-color: #037084;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
}

.control-layout {
  width: 156px;
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
  margin-left: 2px;
}

.card-list {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 152px;
  display:inline-block;
  vertical-align: top;
}

.card-list .card:last-of-type {
  margin-bottom: 0px;
}
.card-list .card:first-of-type {
  margin-top: 10px;
}

.control-layout .card-list-header {
  overflow: hidden;
  text-align: center;
}

.control-layout-ncw {
  width: 310px;
  display: inline-block;
  vertical-align: top;
}

.control-layout-ncw .card-list-header {
  overflow: hidden;
  text-align: center;
}

.control-layout-ita {
  /*width: calc(100vw/156);*/
  width: 152px;
  display: inline-block;
  vertical-align: top;
}

.control-layout-ita .card-list-header {
  overflow: hidden;
  text-align: center;
}

.mobile-layout-mts {
  width: 48vw;
  display: inline-block;
  vertical-align: top;
}
.mobile-layout-mts .card-list-header {
  overflow: hidden;
  text-align: center;
}

.mobile-layout-mts .card {
  margin-left: 5px;
}
.mobile-layout-mts .card:last-child {
  margin-bottom: 5px;
}
.form-row {
  min-width: 650px;
}
.scw-company-list {
  width: 100px;
}

.card-details-left {
  width: 39px;
  display:inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}

.card-details-right {
  width: 98px;
  display:inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}

.card_gd_round {
  font-size: 11px;
  text-align: center;
  padding: 2px 0px 2px 0px;
  margin: 2px 0px 2px 0px;
  width: 39px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  background-color: #34495e;
  border-radius: 2px;
}

.navbar_panel_count {
  font-size: 16px;
  color: #3b5999;
  background: #ffffff;
  margin: 8px 2px 8px 2px;
  padding: 2px 5px 2px 5px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  vertical-align: top;
}

.notif-panel-count {
  display: inline-block;
  padding: 1px;
  font-size: 12px;
  width: 20px;
  float: right;
}

.reg-elements {
  display: block;
  height: 40px;
  line-height: 30px;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px 0px 15px 0px;
  border: 0px;
  padding-left: 10px;
  background-color: #ffffff;
  color: #444444;
}

.username,.password,.role-select,.company-select,.reg-button {

}

.reg-button {
  padding-right: 10px;
  background-color: #777777;
  color: #ffffff;
}

.reg-button:hover {
  background-color: #3b5999;
}
.reg-mod-button {
  background-color: #777777;
  color: #ffffff;
  border: 0px;
  border-radius: 2px;
}

.reg-mod-button:hover {
  background-color: #3b5999;
}

.login-elements {
  width: 150px;
}

.reg-mod-form {
  border-bottom: 1px solid #999999;
}
.suw-mod-form {
  min-width: 800px;
}

.gd_switch {

}

table, td, th {
  text-align: center;
  border: 1px solid #000000;
  border-collapse: collapse;
}

.gd_panel_box {
  display: inline-block;
  vertical-align: top;
}

.gd_rp {
  width: 50px;
  height: 20px;
  font-size: 20px;
  -webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
  padding: 5px;
  color: #333333;
  border: none;
  vertical-align: top;
  background-color: #ffffff;
  border-radius: 5px;
}

.gd_rp_submit {
  width: 60px;
  height: 30px;
  float: right;
  padding-left: 0px;
  padding-right: 0px;
}
.gd_checkbox {
  zoom: 1.2;
}

.gd_unpanelled {
  display: inline-block;
  width: 250px;
  vertical-align: top;
}

.gd_panelled {
  display:inline-block;
  width: calc(100vw - 320px);
  vertical-align: top;
}

.gd_panel_box {
  margin: 10px;
  padding: 10px;
  width: 250px;
  text-overflow: clip;
  overflow: hidden;
}
label {
  font-size: 15px;
  display: block;
  width: 250px;
  text-overflow: clip;
  overflow: hidden;
  height: 1.3em;
}
.gd_box_rxpy_bar {
  margin-bottom: 5px;
}
.gd_status_dropdown {
  height: 30px;
  display: inline-block;
  -webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
  padding: 5px;
  font-size: 14px;
  color: #333333;
  border: none;
  vertical-align: top;
  background-color: #ffffff;
}
.gd_panel_box_header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.status-0{
  background-color: #efefef;
}

.status-1{
  background-color: #FFEB3B;
}

.status-2{
  background-color: #FFC107;
}

.status-3{
  background-color: #FF9800;
}

.status-4{
  background-color: #CDDC39;
}

.status-5{
  background-color: #9CCC65;
}

.status-6{
  background-color: #4DB6AC;
}

.status-7{
  background-color: #EF9A9A;
}

.status-8{
  background-color: #00BCD4;
}

.status-9{
  background-color: #9575CD;
}

.status-10{
  /*background-color: #E91E63;*/
  background-color: #EF5350;
}

.status-11{
  background-color: #9E9E9E;
}
a {
  text-decoration: none;
  color: inherit;
}
.scw-location-list {
  width: 90px;
}
.transparent_background {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.border_bottom {
  border-bottom: 1px solid #ccc;
}
.border_bottom_white {
  border-bottom: 1px solid #fff;
}
.unscheduled {
  display: inline-block;
  vertical-align: top;
}
.scheduled {
  display:inline-block;
  vertical-align: top;
}

.preferencePanel {
    display: inline-block;
    vertical-align: top;
}
.control_ui_box {
  padding: 10px;
  margin: 0px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.control_list_item {
  /* padding-left: 5px; */
  display: inline-block;
}
.control_cst_button {
  width: 100px;
}
.control_times {
  width: 40px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
}
.control_companies {
  width: 120px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  height: 17px;
  vertical-align: middle;
  border-radius: 3px;
}
.control_status_text {
  width: 90px;
  font-size: 11px;
  display: inline-block;
  text-align: center;
  height: 12px;
  overflow: hidden;
  vertical-align: middle;
}

.spacer-100 {
  width: 100px;
  display: inline-block;
}
.company_status_change {
  display: inline-block;
  margin-top: 8px;
  margin-right: 20px;
}
.paused {
  background-color: #FFC107;
}

.stopped {
  background-color: #F44336;
}

.on {
  background-color: #3b5999;
}

.exited {
  background-color: #000000;
}

.reg_left_part, .reg_right_part {
  display: inline-block;
  vertical-align: top;
}

.dark_text {
  color: #000000;
}

.light_text {
  color: #ffffff;
}

.company_list_row {
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #cccccc;
  font-size: 12px;
}

.reg_company_name {
  display: inline-block;
  width: 150px;
}

.ul_list_index_header {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

.reg_num_trackers_exist {
  display: inline-block;
  width: 20px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border-radius: 2px;
}

.reg_num_trackers_zero {
  display: inline-block;
  width: 20px;
}

.reg_company_trackers {
  display: inline-block;
  width: 200px;
  padding-left: 10px;
}

.navbar_right {
  float: right;
}
.login_box {
  width: 200px;
  padding: 0px;
}
.place_header {
  font-size: 30px;
  color: #ffffff;
}
.place_name {
  font-size: 14px;
  font-variant: small-caps;
  color: #ffffff;
}
.login_form_area {
  padding: 20px;
  padding-bottom: 5px;
  padding-top: 15px;
}
.login_box_header {
  background-color: #3b5999;
  padding: 10px;
}
.level_1_box {
  padding: 0px;
}
.level_1_header {
  background-color: #3b5999;
  color: #ffffff;
  height: 25px;
  line-height: 25px;
  font-variant: small-caps;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}
.level_1_list {
  padding: 10px;
}
.level_1_box {
  margin: 15px;
  margin-bottom: -60px;
}
.ncw_empty_list {
  text-align: center;
  background-color: #cccccc;
  min-height: 40px;
  line-height: 40px;
}
.mobile_history {
  margin: 0px;
  margin-top: 20px;
}
.sys_submit {
  margin: 5px;
  margin-left: 0px;
}
.sys_box {
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
.sys_table td {
  font-size: 10px;
}

.lpc_count {
  font-size: 35px;
  font-weight: bold;
}
.no_offers
{
    background-color: #388999;
}

/*
.control_in_row:hover {
  background-color: #dddddd;
} */

.control_in_row_name_link {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
  height: 19px;
}
.company_On
{
    background-color: #ffffff;
}
.company_Paused
{
    background-color: #e6e41d;
}
.company_Stopped
{
    background-color: #e61d25;
}
.company_Exit
{
    background-color: #087e89;
}
.status_header
{
  background-color: #9CCC65;
  color: white;
}
.alert_entries
{
    height: 25px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
.alert_header
{
    background-color: #005961;
    text-align: center;
    font-size: 12px;
    color: white;
}
.alert_signal
{
    background-color: #122261;
    color: white;
}
.suw_desc
{
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.reset-button {
  background-color: #777777;
  color: #ffffff;
  border: 0px;
  padding: 10px;
  height: 40px;
  border-radius: 2px;
  margin-left: 20px;
}
/*
.control_in_row_name_link:hover {
  background-color: #76FF03;
}*/

.student_status-1 {
  padding: 6px;
  background-color: #00aba9;
  color: white;
  font-weight: bolder;
  text-align: center;
  font-size: x-small;
  width: inherit;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Logout styles*/
.logout_nav_user {
  float: right;
  margin-right: 20px;
}

.logout_nav_button {
  float: right;
  margin-right: 20px;
}

input.sst_list {
  line-height: 30px;
  min-width: 100px;
}

.modify-panel-cst-form{
  display: inline-block;
}

.modify-panel-cst-input {
  display: inline-block;
  font-size: 18px;
  height: 30px;
  width: 30px;
  background-color: #f2f3f7;
  color: #3d5b9a;
  border: 0px;
  border-radius: 5px;
  text-align: center;
}

table.company-list-table  {
  margin-top: 20px;
}

.nav-wrapper .display-wrapper {
  display: flow-root;
}

#pref-container {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: nowrap;
    width: auto;
}

#pref-container > div {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    margin-right: 5px;
    border: inset;
    border-width: thick;
    border-color: #3b5999;

}

#pref-navbar {
    margin: 10px;
    align-items: center;
}

#pref-form {
    width: 100%;
}

#pref-card-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0px 0px 15px 0px;
}

.pref-card {
    margin: 0px 10px 5px 0px;
}
